@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(45deg, #e6e9f0, #eef1f5);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: black;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.nav-list {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none
}

.nav-item {
  padding-right: 20px;
}

.nav-list :hover,
:focus {
  color: rgb(82, 81, 80);
}

.nav-item {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}

ul>li {
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  padding: 20px 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.avatar {
  border-radius: 50%;
  width: 250px;
}

pre {
  width: 300px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid black;
}

.language,
.skills {
  margin-bottom: 35px;
}

.color-blu {
  color: dodgerblue;
}

.project-item {
  list-style-type: none;
}

.project-item img {
  border: 2px solid rgb(180, 173, 173);
  border-radius: 15px;
}

.project-list {
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


@media (max-width: 768px) {
  .nav-list {
    display: block;
    text-align: right;
  }

  .main section {
    width: 100%;
  }

 
}
